<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Notes-App</title>
</head>
<body>
<div class="header">
    <a class="logo noteButton">NOTES APP</a>
</div>
<div class="filter">
    <button class="asendButton"><span>Ascending</span></button>
    <button class="desendButton"><span>Desending</span></button>
</div>
<div class="Notes-App">
    <div class="list">
    <form action="/add" method="POST"> 
        <select name="number" id="numbers">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <div class="function-button">
            <button id="addButton" type="submit" class="btnAdd" value="add">ADD</button>
            <button id="showButton" class="btnShow" value="show" >SHOW</button>
        </div>
        <div class="notes" id="notes">
            <textarea cols="72" rows="7" id="note-text" name="note"></textarea>
        </div>
    </form>
    </div>
</div>
</body>
<script src="./index.js" type="text/javascript"></script>
</html>
