* {
  box-sizing: border-box;
}
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffe6ffff;
}


/* Header */
.header {
  overflow: hidden;
  background-image: linear-gradient(to bottom right, pink, purple);
  padding: 20px 10px;
}
.header a {
  float: left;
  color: #800080;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom right, pink, purple);
  text-shadow: 1px 1px 2px pink, 0 0 25px pink, 0 0 5px purple;
}
.header a.logo {
  font-size: 40px;
  font-weight: bold;
}
.header a:hover {
   background-image: none;
}
.noteButton:hover {
    transition-duration: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Ascending Descending Button */
button {
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, pink, purple);
    border: none;
    color: #800080;
    text-shadow: 1px 1px 2px pink, 0 0 25px pink, 0 0 5px purple;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
button:hover span {
    padding-right: 25px;
  }
button:hover span:after {
    opacity: 1;
    right: 0;
  }
.asendButton {
    margin-left: 450px;
    margin-right: 400px;
    margin-top: 100px;
}


/*Notes Area */
textarea {
    position: relative;
    margin-left: 450px;
    bottom: 50px;
    border-radius: 5px;
    color: black;
    border: hidden;
}
#addButton, #showButton {
    position: fixed;
    position: relative;
    left: 1003px;
    bottom: 0px;
}
#showButton {
    top: 55px; 
    left: 840px !important;
}
select {
    color: #800080;
    background-image: linear-gradient(to bottom right, pink, purple); 
    padding-right: 25px;
    border-radius: 4px;  
    position: relative;
    left: 370px;
    top: 30px;
}











@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}